@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 8%;
  margin-top: 25px;
}

:root {
  --color-brand: #0a66c2;
}

body {
  font-family: 'Public Sans', sans-serif;
  border-style: border-box;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  overflow-x: hidden !important;
  text-rendering: optimizeLegibility;
  position: relative;
  z-index: 0 !important;
  scroll-behavior: smooth;
  line-height: 1.5;
  background-color: #F4F1EC;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.Pagecontents {
  display: none;
}

