* {
    padding: 0;
    margin: 0;
  }


.header {
    margin-bottom: 20vh;
}

.med-cover1 {
    width: 100%;
}

.part1-title {
    font-size: 60px;
    color: white;
    font-weight: 100;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin-top: 12vh;
    
}

.medication-choice {
    padding-left: 13vh;
    padding-right: 6vh;
    display: inline-flex;
}

.menu {
    margin-bottom: 20vh;

}

.menu-title {
    color: #05445E;
    margin-bottom: 3vh;
    font-size: 25px;
}

.menu-details {
    color: #05445E;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    width: 20vh;
    
}

.meds {
    margin-bottom: 2vh;
    border: none;
    text-align: start;
    font-size: 15px;
    
}

.meds:hover {
    color: #c74b0e;
    cursor: pointer;
}


.med-showcase {
    margin-left: 10vh;
    display: flex;
    flex-wrap: wrap;
}

.square {
    background-color: #05445E;
    border-radius: 10px;
    width: 35vh;
    height: 25vh;
    margin-right: 8vh;
    margin-bottom: 5vh;
}

.inside {
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.container {
    text-align: center;
}

.price {
    margin-top: 10vh; 
}

.original-name {
    font-size: 15px;
    font-weight: 600;
}

